/******** GLOBAL STYLES ********/
html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #000000;
}

/* The width property has been changed to max-width */
.content-wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: .95em;
}

h4 {
	font-size: .75em;
}

p {
	font-size: .95rem;
	line-height: 36px;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
	display: flex;
	justify-content: center;
	text-align: center;
}

header h1 {
	margin: 0;
	padding: 38px 0 20px;
	width: 100%;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #45610E;
}

header nav {
	line-height: 2.5em;
}

header nav ul {
	margin: 0;
	padding: 20px 0 30px;
	list-style: none;

}

header nav ul li {
	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	display: flex;
	justify-content: center;

}

header nav ul li a {
	text-decoration: none;
	color: #45610E;

}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */
.main-image img {
	width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
	font-size: 1.3em;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
}

.bottom-section .content-wrapper {
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-one,
.section-two,
.section-three {
	box-sizing: border-box;

}

.section-one {
	width: 100%;
}

.section-two {
	width: 100%;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;

}

.section-three {
	width: 100%;
}

.bottom-section h3 {
	margin: 30px 0;
}

.menu-list {
	padding-left: 0;
	list-style: none;
}

.menu-list li {
	color: #45610E;
	font-size: 16px;
	line-height: 36px;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

footer span {
	text-transform: lowercase;
	color: #45610E;
	font-size: 14px;
}

/* tablet */
@media all and (min-width: 768px) {

	/* tablet styles here */
	.bottom-section .content-wrapper {
		border-top: 5px solid #EEE;
		border-bottom: 5px solid #EEE;
		justify-content: space-evenly;
	}

	.section-one,
	.section-two,
	.section-three {
		box-sizing: border-box;
		padding: 0 40px;
	}

	.section-one {
		width: 30%;
		padding-left: 15px;
	}

	.section-two {
		width: 40%;
		border-right: 5px solid #EEE;
		border-left: 5px solid #EEE;
		border-top: hidden;
		border-bottom: hidden;
		padding-left: 30px;
		padding-right: 30px;
	}

	.section-two p {
		font-size: .9rem;
	}

	.section-three {
		width: 30%;
		padding-left: 15px;
		font-size: .85em;
	}

	.section-three p {
		font-size: .85rem;
	}

	.bottom-section h3 {
		margin: 30px 0;

	}

	.menu-list {
		padding-left: 0;
		list-style: none;
	}

	.menu-list li {
		color: #45610E;
		font-size: .8rem;
		line-height: 36px;
	}

}

/* desktop */
@media all and (min-width: 1200px) {
	/* desktop styles here */

	body {
		font-size: 1em;
	}

	.content-wrapper {
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	header h1 {
		margin: 0;
		padding: 38px 0 20px;
		width: 24%;
		border-style: none;
	}

	header h1 span {
		color: #45610E;
	}

	header nav {
		line-height: 2.5em;
	}

	header nav ul {
		margin: 0;
		padding: 38px 0 20px;
		list-style: none;
		display: flex;
		gap: 15px;

	}

	footer .content-wrapper {
		display: flex;
		justify-content: center;

	}
}